<h2>Edit the <%= @car.color %> <%= @car.year %> <%= @car.make %> <%= @car.model %></h2>

<%= form_tag "/cars/#{@car.id}", method: :patch do %>
	<div>
		Year: <input type="text" name="year" value="<%= @car.year %>">
	</div>
		<div>
		Make: <input type="text" name="make" value="<%= @car.make %>">
	</div>
		<div>
		Model: <input type="text" name="model" value="<%= @car.model %>">
	</div>
		<div>
		Color: <input type="text" name="color" value="<%= @car.color %>">
	</div>
	<input type="submit" value="Submit">
<% end %>